body { 
    font-family: Arial, sans-serif; 
    padding: 20px; 
}

form { 
    max-width: 300px; 
    margin: auto; 
}

input, button { 
    width: 100%; 
    margin-top: 10px; 
    padding: 8px; 
}

#homeButton { 
    display: none; 
    margin-top: 20px; 
    padding: 10px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    cursor: pointer; 
    text-align: center;
    text-decoration: none;
}